<!DOCTYPE html>
<html>
  <head>
    <title>Multiple Choice Quiz</title>
  </head>
  <body>
    <div id="app">
      <h1>Multiple Choice Quiz</h1>

      <!-- Title page -->
      <div v-if="page == 'welcome_page'">
        <h1>Welcome to our Quiz!</h1>
        <button @click="setPage('quiz_page')">Start Quiz</button>
      </div>

      <!-- Quiz page -->
      <div v-if="page == 'quiz_page'">
        <h1>Quiz Page</h1>

        <div id="question-one">
            <h3>Question 1</h3>
            <p>What is the third letter of the alphabet?</p>
            <select v-model="questionOne">
                <option>B</option>
                <option>C</option>
                <option>D</option>
                <option>A</option>
            </select>
        </div>

        <div id="question-two">
            <h3>Question 2</h3>
            <p>Who was the 2nd President?</p>
            <select v-model="questionTwo">
                <option>Barrack Obama</option>
                <option>Benjamin Franklin</option>
                <option>Joe Biden</option>
                <option>John Adams</option>
            </select>
        </div>

        <div id="question-3">
            <h3>Question 3</h3>
            <p>When is the Fourth of July?</p>
            <select v-model="questionThree">
                <option>October 30th</option>
                <option>December 25th</option>
                <option>January 1st</option>
                <option>July 4th</option>
            </select>
        </div>
<br>
        <button @click="checkAnswer">Submit Answers</button>
      </div>

      <!-- Score page -->
      <div v-if="page == 'score_page'">
        <h1>Score Page</h1>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>